<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<title>Insert title here</title>

</head>
<!-- <style>
body {
	background-image: url("images/friends2.jpg");
}
</style> -->

<body>
<div class="container">
	List of Friends

	<table>
		<tr ng-repeat="f in friendsList">

			<td ng-hide="currentUser.username==f.fromId">{{f.fromId}}</td>
			<td ng-hide="currentUser.username==f.toId">{{f.toId}}</td>

			<td></td>
		</tr>
	</table>
</div>

</body>
</html>



